# (Sensitive)
# Only accessible from the server component or server functions
BACKEND_API_URL="YOUR_BACKEND_API_URL"
JWT_ACCESS_SECRET="YOUR_JWT_ACCESS_SECRET"
JWT_REFRESH_SECRET="YOUR_JWT_REFRESH_SECRET"

MIN_BUFFER_MINUTES="YOUR_MIN_BUFFER_MINUTES"
TIME_INTERVAL_MINUTES="YOUR_TIME_INTERVAL_MINUTES"

# (Non-sensitive)
# Accessible from the client and server component or server functions
NEXT_PUBLIC_BACKEND_API_URL="YOUR_NEXT_PUBLIC_BACKEND_API_URL"

NEXT_PUBLIC_MIN_BUFFER_MINUTES="YOUR_NEXT_PUBLIC_MIN_BUFFER_MINUTES"
NEXT_PUBLIC_TIME_INTERVAL_MINUTES="YOUR_NEXT_PUBLIC_TIME_INTERVAL_MINUTES"
